for css, index in styles
    if styleHashes[index]
        link(type="text/css", rel="stylesheet", href=css, integrity=styleHashes[index], crossorigin="anonymous")
    else 
        link(type="text/css", rel="stylesheet", href=css)