extends layout

block content
    //- Set default values for fields
    - const title = !!book ? book.title : "";
    - const author = !!book ? book.author : "";
    - const genre = (!!book && !!book.genre) ? book.genre : ""
    - const year = (!!book && !!book.year) ? book.year : "";

    block form-heading

    form.w-75.w-lg-50(method="post")
        div.form-group
            label(for="title") Title
            input#title.form-control(type="text", name="title", value=title)

        div.form-group
            label(for="author") Author
            input#author.form-control(type="text", name="author", value=author)

        div.form-group
            label(for="genre") Genre
            input#genre.form-control(type="text", name="genre", value=genre)

        div.form-group
            label(for="year") Year
            input#year.form-control(type="text", name="year", value=year)

        div.btn-group
            block form-buttons
                a.btn.btn-outline-danger(href="/books") Cancel
                button.btn.btn-green(type="submit") Submit