extends layout

block content
    block heading

    form(method="post")
        block form
            p
                //- Set value to book title if book is present, otherwise empty
                - let value = book ? book.title : ""
                label(for="title") Title
                input#title(type="text" name="title" value=`${value}`)

            p
                //- Set value to book author if book is present, otherwise empty
                - value = book ? book.author : ""
                label(for="author") Author
                input#author(type="text" name="author" value=`${value}`)

            p
                //- Set value to book genre if book is present, otherwise empty
                - value = book ? book.genre : ""
                label(for="genre") Genre
                input#genre(type="text" name="genre" value=`${value}`)

            p
                //- Set value to book year if book is present, otherwise empty
                - value = book ? book.year : ""
                label(for="year") Year
                input#year(type="text" name="year" value=`${value}`)

            p
                input(type="submit", value="Submit")

            p
                a.button(href="/books") Cancel