{
    "presets": [
        [
            "next/babel",
            {
                "preset-env": {
                    // Use core-js version 3
                    "corejs": 3,

                    // Add polyfills based on usage
                    "useBuiltIns": "usage",

                    // Target current node version
                    "targets": {
                        "node": true
                    }
                }
            }
        ]
    ],
    "plugins": [
        // Optional chaining (a?.b) proposal
        "@babel/plugin-proposal-optional-chaining",

        // Nullish coalescing operator (a ?? b) proposal
        "@babel/plugin-proposal-nullish-coalescing-operator"
    ]
}
