extends partials/layout

block content
    h1 Confirm Deletion

    p.warning
        strong WARNING! Once you delete a book, it cannot be undone.

    p If you still want to delete the book "#{book.title}", enter the book title below to confirm the deletion.

    form.w-75.w-lg-50(method="post")
        div.form-group
            label(for="title") Title
            if validationErrors && validationErrors.title
                input#title.form-control.is-invalid(type="text" name="title" value=requestData.title)
                .invalid-feedback
                    for error in validationErrors.title
                        p= error
            else
                input#title.form-control(type="text" name="title")

        div.btn-group
            a.btn.btn-outline-danger(href=`/books/${book.id}`) Cancel
            button.btn.btn-danger(type="submit") DELETE