{{#> layout }}
  {{#* inline "extraHead" }}
  {{/inline}}

  {{#* inline "extraScripts" }}
  {{/inline}}

  {{#* inline "content"}}
    <h1>Error</h1>
    <p>{{ message }}</p>
    <br />
    <p>
      <a class="button" href="/books">Home</a>
    </p>
  {{/inline}}
{{/layout}}
