extends partials/layout

block content
    h1 Book Listing
    p: a.btn.btn-primary(href="/books/new") Add New Book
    table.table.table-striped
        thead
            tr
                th(scope="col") Title
                th(scope="col") Author
                th(scope="col") Genre
                th(scope="col") Year
        tbody
            for book in books
                tr
                    td
                        a(href=`/books/${book.id}`)= book.title
                    td= book.author
                    td= book.genre
                    td= book.year