{{#> layout }}
  {{#* inline "extraHead" }}
  {{/inline}}

  {{#* inline "extraScripts" }}
  {{/inline}}

  {{#* inline "content"}}
    <h1>Not Found</h1>
    <p>We couldn't find the page you were looking for.</p>
    <br />
    <p>
      <a class="button" href="/books">Home</a>
    </p>
  {{/inline}}
{{/layout}}
