<h1>New Book</h1>

<form method="post" (ngSubmit)="onSubmit()" [formGroup]="newBookForm">
    <div class="form-row">
        <div class="form-group col-sm-6 col-lg-4">
            <label for="title">Title</label>
            <input id="title" class="form-control" type="text" formControlName="title" [ngClass]="{ 'is-invalid': title.invalid && (title.dirty || title.touched) }" />
            <div class="invalid-feedback">
                <ng-container *ngIf="title.getError('serverError')">
                    {{ title.getError('serverError') }}
                </ng-container>
                <ng-container *ngIf="title.getError('required')">
                    Title is required.
                </ng-container>
            </div>
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="author">Author</label>
            <input id="author" class="form-control" type="text" formControlName="author" [ngClass]="{ 'is-invalid': author.invalid && (author.dirty || author.touched) }" />
            <div class="invalid-feedback">
                <ng-container *ngIf="author.getError('serverError')">
                    {{ author.getError('serverError') }}
                </ng-container>
                <ng-container *ngIf="author.getError('required')">
                    Author is required.
                </ng-container>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-sm-6 col-lg-4">
            <label for="genre">Genre</label>
            <input id="genre" class="form-control" type="text" formControlName="genre" />
        </div>
        <div class="form-group col-sm-6 col-lg-4">
            <label for="year">Year</label>
            <input id="year" class="form-control" type="number" formControlName="year" />
        </div>
    </div>
    <div class="btn-group">
        <a class="btn btn-outline-danger" routerLink="/books">Cancel</a>
        <button type="submit" class="btn btn-primary" [disabled]="!submittable">
            Create Book
            <span class="sr-only" *ngIf="!submittable">(disabled)</span>
        </button>
    </div>
</form>
