<ng-container *ngIf="bookPage">
    <h1>Books</h1>

    <header>
        <p>
            <a
                class="btn btn-primary"
                routerLink="/books/new"
            >
                Create New Book
            </a>
        </p>
    </header>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of bookPage.data">
                <td>
                    <a [routerLink]="['/books', book.id]">
                        {{ book.title }}
                    </a>
                </td>
                <td>
                    {{ book.author }}
                </td>
                <td>
                    {{ book.genre }}
                </td>
                <td>
                    {{ book.year }}
                </td>
            </tr>
        </tbody>
    </table>

    <nav aria-label="Query results pages" *ngIf="bookPage.totalPages > 1">
        <ul class="pagination">
            <li
                class="page-item"
                [ngClass]="{ 'disabled': bookPage.prevPage === null }"
            >
                <ng-template #disabledPrev>
                    <span class="page-link">Previous</span>
                </ng-template>

                <a
                    class="page-link"
                    routerLink="/books"
                    [queryParams]="{ 'page': bookPage.prevPage }"
                    *ngIf="bookPage.prevPage !== null; else disabledPrev"
                >
                    Previous
                </a>
            </li>
            <li
                class="page-item"
                *ngFor="let page of pageRange"
                [ngClass]="{ 'active': page === bookPage.page }"
            >
                <a
                    class="page-link"
                    routerLink="/books"
                    [queryParams]="{ 'page': page }"
                >
                    {{ page }}
                    <span class="sr-only" *ngIf="page === bookPage.page">
                        (current)
                    </span>
                </a>
            </li>
            <li
                class="page-item"
                [ngClass]="{ 'disabled': bookPage.nextPage === null }"
            >
                <ng-template #disabledNext>
                    <span class="page-link">Next</span>
                </ng-template>

                <a
                    class="page-link"
                    routerLink="/books"
                    [queryParams]="{ 'page': bookPage.nextPage }"
                    *ngIf="bookPage.nextPage !== null; else disabledNext"
                >
                    Next
                </a>
            </li>
        </ul>
    </nav>
</ng-container>
