body {
  padding: 10px 50px 50px;
  font: 18px "Garamond", serif;
}

a {
  color: #019875;
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s;
}

  a:hover {
    color: black;
  }

a.button, input[type=submit] {
  color: white;
  background: #019875;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 14px 12px;
  font-size: 14px;
  border-radius: 2px;
  cursor: pointer;
}

a.button-red {
  background: #d71a1a;
}

form a.button, input[type=submit] {
  transition: 0.4s;
}

input[type=submit] {
  border: 0;
}

a.button:hover, input[type=submit]:hover {
  background-color: #01b189;
}

a.button-red:hover {
  background: #ea3f3f;
}

p {
  margin: 20px auto;
}

ul {
  padding: 0;
  list-style-type: none;
  margin-bottom: 10px;
  line-height: 1.3em;
}

h2 {
  border-top: 2px solid #e7e7e7;
  padding-top: 20px;
}

th {
  border-bottom: 2px solid #D8B493;
  text-align: left;
  padding: 5px 20px 5px 10px;
}

tr {
  min-height: 50px;
}

tr:nth-child(2n) {
  background: #E7E7E7;
}

td {
  padding: 5px 20px 5px 10px;
}

label {
  font-weight: bold;
  min-width: 130px;
  display: inline-block;
  transition: 0.4s;
}

input {
  padding: 10px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  border-color: #E7E7E7;
  transition: 0.4s;
}

input[type=text] {
  margin-left: 7px;
  width: 300px;
}

.button-group {
  display: flex;
}

.button-group :not(:first-child) {
  margin: 0 0.5rem;
}

.button-group :first-child {
  margin-left: 140px;
  margin-right: 0.5rem;
}

.error {
  color: rgb(236, 15, 15);
}

ul.pages {
  display: flex;
  margin-bottom: 1.5rem;
}

ul.pages span {
  margin-right: 0.25rem;
}

ul.pages li {
  margin: 0 0.125rem;
}

ul.pages a.selected {
  background: #007855;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header .search {
  display: flex;
  align-items: stretch;
}

header p {
  margin-left: 0;
}

header .search input[type="text"], header .search select {
  margin-right: 0.25rem;
}
