<ng-container *ngIf="book">
    <h1>Book Details</h1>

    <p>
        <label for="title">Title</label>
        <span id="title">{{ book.title }}</span>
    </p>

    <p>
        <label for="author">Author</label>
        <span id="author">{{ book.author }}</span>
    </p>

    <p *ngIf="book.genre">
        <label for="genre">Genre</label>
        <span id="genre">{{ book.genre }}</span>
    </p>

    <p *ngIf="book.year">
        <label for="year">Year</label>
        <span id="year">{{ book.year }}</span>
    </p>

    <div class="btn-group">
        <button class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
</ng-container>
